* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
 
} 
body{
    background: rgb(237, 155, 238);
    background: linear-gradient(90deg, rgba(237, 155, 238, 1) 24%, rgba(151, 119, 238, 1) 58%, rgba(131, 89, 242, 1) 99%, rgba(152, 123, 231, 1) 100%);
}

.tags {
    width: 250px;
    height: 20vh;
    padding: 20px;
    text-align: center;
    background-color: dodgerblue; 
    margin: auto;
    margin-top: 230px;
    color: #000;
    border-radius: 10px;
    box-shadow: cadetblue 5px;
}

.tags >a {
    color: #000;
    text-decoration: none;
    font-size: x-large;
}
.tags > a:hover{
    color:rgb(83, 250, 167);
    transition: .5s;

}